// colors
$purple-color: #5D5FEF;
$rose-color: #EF5DA8;

$root-bg: #E5E5E5;

$primary-color: #42567A;
$line-color: rgba(#FFFFFF, 0.2);
$gradient-line-vertical: linear-gradient(180deg, #3877EE 0%, #EF5DA8 100%);

// типография
$font-regular: 400; // обычный вес шрифта
$font-bold: 700; // жирный

$title-size: 5.6rem; // размер заголовков
$date-size: 20rem; // размер цифр "2015" и "2022
$regular-size: 2rem;
$large-size: 2.5rem;


