.title {
  font-weight: $font-bold;
  font-size: $title-size;
  color: $primary-color;
  max-width: 35rem;
  position: relative;
  line-height: 7rem;
  margin: 0;

  &::before {
    content: '';
    position: absolute;
    left: -8rem;
    top: 0;
    width: 0.5rem;
    height: 100%;
    background: $gradient-line-vertical;
  }

  @media (max-width: 425px) {
    &::before {
      display: none;
    }
    & {
      font-size: $title-size-mobile;
      font-weight: $font-bold;
      max-width: 12rem;
      width: 100%;
      line-height: 1.2;
    }
  }
}
