.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $primary-color;
  color: $primary-color;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 30;
  text-align: center;


  p {
    display: none;
    margin: 0;
    line-height: 1;
  }

  &.active,
  &:hover {
    width: 5rem;
    height: 5rem;
    background-color: $root-bg;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-size: $regular-size;

    p {
      display: block;
    }
  }
}

.circle {
  display: flex;
  flex-direction: row;
  position: relative;

  &__title {
    position: absolute;
    top: 50%;
    left: 6rem;
    transform: translateY(-50%);
    font-size: $large-size;
    color: $primary-color;
    white-space: nowrap;
  }
}

