.button {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border: 1px solid $line-color;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 5px 5px 10px rgba(56, 119, 238, 0.3);

  position: absolute;

  &:hover {
    background-color: transparent;
    transform: scale(1.05);
  }


  &:active {
    transform: scale(0.95);
  }

  &__hidden {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    cursor: default;
    box-shadow: none;

    &:hover {
      background-color: transparent;
    }
  }

  @media (max-width: 425px) {
    display: none;
  }
}
