.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 500;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  align-items: start;

  &__counter {
    font-size: $small-size;
    font-weight: $font-regular;
    color: $primary-color;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
