.button {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;

  border-radius: 50%;
  border: 1px solid;

  cursor: pointer;
  font-size: $small-size;

  &.active {
    border: 1px solid rgba($primary-color, .5);
    cursor: pointer;
  }

  &.disabled {
    border: 1px solid rgba($primary-color, .25);
    cursor: not-allowed;
  }
}