.year {
  font-size: $date-size;
  font-weight: $font-bold;

  &__rose {
    color: $rose-color;
  }

  &__purple {
    color: $purple-color;
  }

  @media (max-width: 768px) {
    font-size: $data-size-middle; // нужно определить эту переменную или заменить на нужный размер, например 14px
  }

}

